<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}">
<script th:src="@{/webjars/jquery/3.5.0/jquery.min.js}" defer></script>
<script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}" defer></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<title>私の便利グッズ</title>

</head>
<body>
<th:block th:replace="fragments/header :: header"></th:block>


<div style="width:600px;border:solid 1px black;margin-left:auto;margin-right:auto;margin-top:50px;">
<!--<h1 class="h3 mt-2 mb-3 font-weight-normal" style="text-align:center;">登録</h1>-->
<h1 class="h3 mt-2 mb-3 font-weight-normal" style="text-align:center;" th:text="${title}">登録</h1>
<img th:src="@{/image/1907768.png}" style="width:160px;height:120px;margin-left:auto;margin-right:auto;display:block;"/>
   <form class="w-75 mx-auto" th:action="@{/user/signup}" method="post" th:object="${signUpForm}">
   <br>
   <input class="form-control"  type="text" name="username"  placeholder="ユーザ名"  autofocus/>
   <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color:red;"></div>
   
   <br>
   <input class="form-control" id="password" type="password" name="password"  placeholder="パスワード" />
   <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color:red;"></div>
   
   <br>
   <input class="btn btn-outline-primary my-1" type="submit" value="登録"/>
   </form>
   <br>
   <p><a th:href="@{/top}">TOP戻る</a></p>
   <br>
</div>



</body>
</html>