<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}">
<script th:src="@{/webjars/jquery/3.5.0/jquery.min.js}" defer></script>
<script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}" defer></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<title>私の便利グッズ</title>

</head>
<body>

<h1>私の便利グッズポスト一覧</h1>
<th:block th:replace="fragments/header-login :: header-login"></th:block>
<div class="container">
		<div class="row">
			<div class="col x14 s12">
			
				<div class="row"></div>
				
				<div class="card">
					<div class="card-content">
						<div class="card-title center">
							<h5>カテゴリ</h5>
						</div>
						<div class="row"></div>
						
					</div>
				</div>

			</div>
			<div class="col xl8 s12">
			<div class="row center">
					<span><h5>投稿はありません</h5></span>
				</div>
				

	
			</div>
		</div>
	</div>



</body>
</html>